python-dotenv
structlog

langchain
langchain-community
langchain-core

langchain-groq
langchain-google-genai
langchain-openai

docx2txt
ipykernel
python-multipart
faiss-cpu
sentence-transformers
pypdf

fastapi==0.115.6
fastapi[standard]
uvicorn==0.32.1
Jinja2==3.1.4

langsmith
pytest
openai
pandas